body {
  background: url("/home/djt/Documents/meetingform/public/images/wepik-export-20230828090212uvOO.png");
  background-position: center;
  background-size: cover;
  background-color: #0005;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}
.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  backdrop-filter: blur(4px) saturate(200%);
}
.form .contain {
  height: 30em;
  width: 70em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  overflow: hidden;
  padding: 1em;
  background-color: #fff;
}
.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background-color: #000;
}
.image-container img {
  height: 135%;
}
.form h1 {
  font-size: 3em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.form-container {
  width: 50em;
  background: #fff;
  padding: 2em 3em 0 3em;
  border-radius: 1em;
  position: relative;
}
.form-contain {
  background: #fff;
  padding: 2em 3em 0 3em;
  /* box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.2); */
}
input[type="text"],
input[type="email"],
input[type="number"] {
  font-family: "Montserrat", sans-serif;
  width: 300px;
}
input[type="password"] {
  font-family: "Montserrat", sans-serif;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label,
span {
  font-weight: 500;
}
.registerlink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin-right: 2px;
  font-size: 16px;
  color: #bbb;
}
.error {
  color: red;
  margin: -25px 0 15px 0;
}
.close {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #333;
  font-size: 18px;
}
